html {
  height: 100%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #111;
  --color: #fff;
  --card-col: #222;
}

main {
  width: min(40rem, 90%);
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  height: min(20rem, 60%);
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
}

.card {
  width: 90%;
  height: 90%;
  background-color: var(--card-col);
  color: var(--color);
  border-radius: 2rem;
  box-shadow: 0 0 2rem #000;
}

.buttons {
  width: 80%;
  display: flex;
}

.buttons > button {
  flex-grow: 1;
  padding: 1rem;
  background-color: transparent;
}
/* debug */
button:hover {
  outline: 5px solid red;
}

.decline {
  color: #f00;
}

.accept {
  color: #0f0;
}
