html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #111;
  font-family: Arial, Helvetica, sans-serif;
  --color: #fff;
  --card-col: #222;
}

main {
  width: min(40rem, 90%);
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.card {
  height: min(20rem, 60%);
  background-color: var(--card-col);
  color: var(--color);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 2rem #000;
}
